<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryt.web.dao.article.ArticleCommentDao">
    <resultMap id="queryResultMap" type="com.ryt.web.entity.article.ArticleComment">
                <result column="articleId" property="articleId" jdbcType="INTEGER" />
                <result column="subject" property="subject" jdbcType="VARCHAR" />
                <result column="createdIP" property="createdIP" jdbcType="VARCHAR" />
                <result column="content" property="content" jdbcType="VARCHAR" />
                <result column="sysClassId" property="sysClassId" jdbcType="INTEGER" />
                <result column="articleBaseId" property="articleBaseId" jdbcType="INTEGER" />
                <result column="commentProperty" property="commentProperty" jdbcType="INTEGER" />
                <result column="parentId" property="parentId" jdbcType="INTEGER" />
                <result column="id" property="id" jdbcType="INTEGER" />
                <result column="uuid" property="uuid" jdbcType="VARCHAR" />
                <result column="userId" property="userId" jdbcType="INTEGER" />
                <result column="userName" property="userName" jdbcType="VARCHAR" />
                <result column="voiceId" property="voiceId" jdbcType="INTEGER" />
                <result column="score" property="score" jdbcType="INTEGER" />
                <result column="sortId" property="sortId" jdbcType="INTEGER" />
                <result column="isDeleted" property="isDeleted" jdbcType="TINYINT" />
                <result column="operaterId" property="operaterId" jdbcType="INTEGER" />
                <result column="editedTime" property="editedTime" jdbcType="VARCHAR" />
                <result column="createdTime" property="createdTime" jdbcType="VARCHAR" />
            </resultMap>

    <select id="find" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultMap="queryResultMap">
		SELECT t.*
		FROM articleComment t
		<include refid="expressionBlock.where" />
		<choose>
			<when test="sortname == null">
				ORDER BY t.id desc
			</when>
			<otherwise>
				ORDER BY ${order}
			</otherwise>
		</choose>
		<if test="!isQueryAll">
			LIMIT
            #{firstResult,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
	</select>


    <select id="findTotalCount" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(*) FROM articleComment t
		<include refid="expressionBlock.where" />
    </select>

    <insert id="save" parameterType="com.ryt.web.entity.article.ArticleComment"
    keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	INSERT INTO articleComment
    <trim prefix="(" suffix=")" suffixOverrides=",">
        
                <if test="articleId != null">
            `articleId`,
         </if>       
                <if test="subject != null">
            `subject`,
         </if>       
                <if test="createdIP != null">
            `createdIP`,
         </if>       
                <if test="content != null">
            `content`,
         </if>       
                <if test="sysClassId != null">
            `sysClassId`,
         </if>       
                <if test="articleBaseId != null">
            `articleBaseId`,
         </if>       
                <if test="commentProperty != null">
            `commentProperty`,
         </if>       
                <if test="parentId != null">
            `parentId`,
         </if>       
                <if test="id != null">
            `id`,
         </if>       
                <if test="uuid != null">
            `uuid`,
         </if>       
                <if test="userId != null">
            `userId`,
         </if>       
                <if test="userName != null">
            `userName`,
         </if>       
          	<if test="voiceId != null">
            `voiceId`,
         </if>       
                <if test="score != null">
            `score`,
         </if>       
                <if test="sortId != null">
            `sortId`,
         </if>       
                <if test="isDeleted != null">
            `isDeleted`,
         </if>       
                <if test="operaterId != null">
            `operaterId`,
         </if>       
                <if test="editedTime != null">
            `editedTime`,
         </if>       
                <if test="createdTime != null">
            `createdTime`,
         </if>       
               
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
                     <if test="articleId != null">
            #{articleId,jdbcType=INTEGER},
            </if>
                     <if test="subject != null">
            #{subject,jdbcType=VARCHAR},
            </if>
                     <if test="createdIP != null">
            #{createdIP,jdbcType=VARCHAR},
            </if>
                     <if test="content != null">
            #{content,jdbcType=VARCHAR},
            </if>
                     <if test="sysClassId != null">
            #{sysClassId,jdbcType=INTEGER},
            </if>
                     <if test="articleBaseId != null">
            #{articleBaseId,jdbcType=INTEGER},
            </if>
                     <if test="commentProperty != null">
            #{commentProperty,jdbcType=INTEGER},
            </if>
                     <if test="parentId != null">
            #{parentId,jdbcType=INTEGER},
            </if>
                     <if test="id != null">
            #{id,jdbcType=INTEGER},
            </if>
                     <if test="uuid != null">
            #{uuid,jdbcType=VARCHAR},
            </if>
                     <if test="userId != null">
            #{userId,jdbcType=INTEGER},
            </if>
                     <if test="userName != null">
            #{userName,jdbcType=VARCHAR},
            </if>
             		<if test="voiceId != null">
            	#{voiceId,jdbcType=INTEGER},
            	</if>
                     <if test="score != null">
            #{score,jdbcType=INTEGER},
            </if>
                     <if test="sortId != null">
            #{sortId,jdbcType=INTEGER},
            </if>
                     <if test="isDeleted != null">
            #{isDeleted,jdbcType=TINYINT},
            </if>
                     <if test="operaterId != null">
            #{operaterId,jdbcType=INTEGER},
            </if>
                     <if test="editedTime != null">
            #{editedTime,jdbcType=VARCHAR},
            </if>
                     <if test="createdTime != null">
            #{createdTime,jdbcType=VARCHAR},
            </if>
             </trim>
	</insert>

    <update id="update" parameterType="com.ryt.web.entity.article.ArticleComment">
    UPDATE articleComment
        <set>
                    <if test="articleId != null">
            articleId = #{articleId,jdbcType=INTEGER},
             </if> 
                    <if test="subject != null">
            subject = #{subject,jdbcType=VARCHAR},
             </if> 
                    <if test="createdIP != null">
            createdIP = #{createdIP,jdbcType=VARCHAR},
             </if> 
                    <if test="content != null">
            content = #{content,jdbcType=VARCHAR},
             </if> 
                    <if test="sysClassId != null">
            sysClassId = #{sysClassId,jdbcType=INTEGER},
             </if> 
                    <if test="articleBaseId != null">
            articleBaseId = #{articleBaseId,jdbcType=INTEGER},
             </if> 
                    <if test="commentProperty != null">
            commentProperty = #{commentProperty,jdbcType=INTEGER},
             </if> 
                    <if test="parentId != null">
            parentId = #{parentId,jdbcType=INTEGER},
             </if> 
                    <if test="id != null">
            id = #{id,jdbcType=INTEGER},
             </if> 
                    <if test="uuid != null">
            uuid = #{uuid,jdbcType=VARCHAR},
             </if> 
             		<if test="voiceId != null">
           voiceId = #{score,jdbcType=INTEGER},
            </if>
                    <if test="score != null">
           score= #{score,jdbcType=INTEGER},
            </if>
                    <if test="sortId != null">
            sortId = #{sortId,jdbcType=INTEGER},
             </if> 
                    <if test="isDeleted != null">
            isDeleted = #{isDeleted,jdbcType=TINYINT},
             </if> 
                    <if test="operaterId != null">
            operaterId = #{operaterId,jdbcType=INTEGER},
             </if> 
                    <if test="editedTime != null">
            editedTime = #{editedTime,jdbcType=VARCHAR},
             </if> 
                    <if test="createdTime != null">
            createdTime = #{createdTime,jdbcType=VARCHAR},
             </if> 
                </set>
    WHERE id 
    <if test="id != null">
        = #{id,jdbcType=INTEGER}
    </if>
    </update>

    <select id="get" resultMap="queryResultMap" parameterType="com.ryt.web.entity.article.ArticleComment">
		SELECT t.*
		FROM articleComment t
		WHERE id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="del" parameterType="com.ryt.web.entity.article.ArticleComment">
		update articleComment set isDeleted = 1
		WHERE id = 
        <if test="id != null">
        #{id,jdbcType=INTEGER}
        </if>
	</delete>
	
	<!-- 通过文章id查找所有相关评论 -->
	  <select id="finAllComments" resultMap="queryResultMap" parameterType="com.ryt.web.entity.article.ArticleComment">
		SELECT t.*
		FROM articleComment t
		WHERE articleBaseId = #{articleId,jdbcType=INTEGER} and t.isDeleted = 0
	</select>
	
	 <select id="findCommentByParentId" resultMap="queryResultMap" parameterType="com.ryt.web.entity.article.ArticleComment">
		SELECT t.*
		FROM articleComment t
		WHERE id = #{parentId,jdbcType=INTEGER} and t.isDeleted = 0
	</select>
	
	<select id="getLastCommentForumArticle" resultMap="queryResultMap" parameterType="java.lang.Integer">
	select * from articleComment a join 
		(
			select t.id as typeId from sysClass t where t.sysClassTypeId=#{sysClassTypeId,jdbcType=INTEGER} and t.isDeleted =0
		) b on a.sysClassId =b.typeId where a.isDeleted = 0 order by a.createdTime desc limit 5
	</select>
</mapper>