<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryt.web.dao.article.ArticleBaseDao">
    <resultMap id="queryResultMap" type="com.ryt.web.entity.article.ArticleBase">
                <result column="subject" property="subject" jdbcType="VARCHAR" />
                <result column="picId" property="picId" jdbcType="VARCHAR" />
                <result column="author" property="author" jdbcType="VARCHAR" />
                <result column="source" property="source" jdbcType="VARCHAR" />
                <result column="brief" property="brief" jdbcType="VARCHAR" />
                <result column="keyWords" property="keyWords" jdbcType="VARCHAR" />
                <result column="content" property="content" jdbcType="VARCHAR" />
                <result column="hits" property="hits" jdbcType="INTEGER" />
                <result column="parentId" property="parentId" jdbcType="INTEGER" />
                <result column="replyArticleBaseId" property="replyArticleBaseId" jdbcType="INTEGER" />
                <result column="articleProperty" property="articleProperty" jdbcType="INTEGER" />
                <result column="articleReceiver" property="articleReceiver" jdbcType="INTEGER" />
                <result column="sysClassId" property="sysClassId" jdbcType="INTEGER" />
                <result column="agentId" property="agentId" jdbcType="INTEGER" />
                <result column="schoolId" property="schoolId" jdbcType="INTEGER" />
                <result column="classId" property="classId" jdbcType="INTEGER" />
                <result column="teacherId" property="teacherId" jdbcType="INTEGER" />
             
                <result column="location" property="location" jdbcType="VARCHAR" />
                <result column="lng" property="lng" jdbcType="VARCHAR" />
                <result column="lat" property="lat" jdbcType="VARCHAR" />
                <result column="id" property="id" jdbcType="INTEGER" />
                <result column="uuid" property="uuid" jdbcType="VARCHAR" />
                <result column="userId" property="userId" jdbcType="INTEGER" />
                <result column="userName" property="userName" jdbcType="VARCHAR" />
                <result column="sortId" property="sortId" jdbcType="INTEGER" />
                <result column="isDeleted" property="isDeleted" jdbcType="TINYINT" />
                <result column="operaterId" property="operaterId" jdbcType="INTEGER" />
                <result column="editedTime" property="editedTime" jdbcType="VARCHAR" />
                <result column="createdTime" property="createdTime" jdbcType="VARCHAR" />
            </resultMap>

    <select id="find" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultMap="queryResultMap">
		SELECT t.*
		FROM articleBase t
		<include refid="expressionBlock.where" />
		<choose>
			<when test="sortname == null">
				ORDER BY t.id desc
			</when>
			<otherwise>
				ORDER BY ${order}
			</otherwise>
		</choose>
		<if test="!isQueryAll">
			LIMIT
            #{firstResult,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
	</select>


    <select id="findTotalCount" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(*) FROM articleBase t
		<include refid="expressionBlock.where" />
    </select>

    <insert id="save" parameterType="com.ryt.web.entity.article.ArticleBase"
    keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
	INSERT INTO articleBase
    <trim prefix="(" suffix=")" suffixOverrides=",">
        
                <if test="subject != null">
            `subject`,
         </if>       
                <if test="picId != null">
            `picId`,
         </if>       
                <if test="author != null">
            `author`,
         </if>       
                <if test="source != null">
            `source`,
         </if>       
                <if test="brief != null">
            `brief`,
         </if>       
                <if test="keyWords != null">
            `keyWords`,
         </if>       
                <if test="content != null">
            `content`,
         </if>       
                <if test="hits != null">
            `hits`,
         </if>       
                <if test="parentId != null">
            `parentId`,
         </if>
         		<if test="replyArticleBaseId != null">
            `replyArticleBaseId`,
         </if>          
                <if test="articleProperty != null">
            `articleProperty`,
         </if>       
                <if test="articleReceiver != null">
            `articleReceiver`,
         </if>       
                <if test="sysClassId != null">
            `sysClassId`,
         </if> 
         		<if test="agentId != null">
            `agentId`,
         </if> 
         		<if test="schoolId != null">
            `schoolId`,
         </if> 
         		<if test="classId != null">
            `classId`,
         </if> 
         		<if test="teacherId != null">
            `teacherId`,
         </if>
				<if test="location != null">
            `location`,
         </if> 
         		<if test="lng != null">
            `lng`,
         		</if> 
         <if test="lat != null">
            `lat`,
         </if>     
                <if test="id != null">
            `id`,
         </if>       
                <if test="uuid != null">
            `uuid`,
         </if>       
                <if test="userId != null">
            `userId`,
         </if>       
                <if test="userName != null">
            `userName`,
         </if>       
                <if test="sortId != null">
            `sortId`,
         </if>       
                <if test="isDeleted != null">
            `isDeleted`,
         </if>       
                <if test="operaterId != null">
            `operaterId`,
         </if>       
                <if test="editedTime != null">
            `editedTime`,
         </if>       
                <if test="createdTime != null">
            `createdTime`,
         </if>       
               
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
                     <if test="subject != null">
            #{subject,jdbcType=VARCHAR},
            </if>
                     <if test="picId != null">
            #{picId,jdbcType=VARCHAR},
            </if>
                     <if test="author != null">
            #{author,jdbcType=VARCHAR},
            </if>
                     <if test="source != null">
            #{source,jdbcType=VARCHAR},
            </if>
                     <if test="brief != null">
            #{brief,jdbcType=VARCHAR},
            </if>
                     <if test="keyWords != null">
            #{keyWords,jdbcType=VARCHAR},
            </if>
                     <if test="content != null">
            #{content,jdbcType=VARCHAR},
            </if>
                     <if test="hits != null">
            #{hits,jdbcType=INTEGER},
            </if>
                     <if test="parentId != null">
            #{parentId,jdbcType=INTEGER},
            </if>
            		<if test="replyArticleBaseId != null">
            #{replyArticleBaseId,jdbcType=INTEGER},
            </if>
                     <if test="articleProperty != null">
            #{articleProperty,jdbcType=INTEGER},
            </if>
                     <if test="articleReceiver != null">
            #{articleReceiver,jdbcType=INTEGER},
            </if>
            
            		<if test="sysClassId != null">
            #{sysClassId,jdbcType=INTEGER},
            </if>
                     <if test="agentId != null">
            #{agentId,jdbcType=INTEGER},
            </if>
            		<if test="schoolId != null">
            #{schoolId,jdbcType=INTEGER},
            </if>
            		<if test="classId != null">
            #{classId,jdbcType=INTEGER},
            </if>
            		<if test="teacherId != null">
            #{teacherId,jdbcType=INTEGER},
            </if>
             
            <if test="location != null">
            #{location,jdbcType=VARCHAR},
            </if>
            <if test="lng != null">
            #{lng,jdbcType=VARCHAR},
            </if>
            <if test="lat != null">
            #{lat,jdbcType=VARCHAR},
            </if>
            
                     <if test="id != null">
            #{id,jdbcType=INTEGER},
            </if>
                     <if test="uuid != null">
            #{uuid,jdbcType=VARCHAR},
            </if>
                     <if test="userId != null">
            #{userId,jdbcType=INTEGER},
            </if>
                     <if test="userName != null">
            #{userName,jdbcType=VARCHAR},
            </if>
                     <if test="sortId != null">
            #{sortId,jdbcType=INTEGER},
            </if>
                     <if test="isDeleted != null">
            #{isDeleted,jdbcType=TINYINT},
            </if>
                     <if test="operaterId != null">
            #{operaterId,jdbcType=INTEGER},
            </if>
                     <if test="editedTime != null">
            #{editedTime,jdbcType=VARCHAR},
            </if>
                     <if test="createdTime != null">
            #{createdTime,jdbcType=VARCHAR},
            </if>
             </trim>
	</insert>

    <update id="update" parameterType="com.ryt.web.entity.article.ArticleBase">
    UPDATE articleBase
        <set>
                    <if test="subject != null">
            subject = #{subject,jdbcType=VARCHAR},
             </if> 
                    <if test="picId != null">
            picId = #{picId,jdbcType=VARCHAR},
             </if> 
                    <if test="author != null">
            author = #{author,jdbcType=VARCHAR},
             </if> 
                    <if test="source != null">
            source = #{source,jdbcType=VARCHAR},
             </if> 
                    <if test="brief != null">
            brief = #{brief,jdbcType=VARCHAR},
             </if> 
                    <if test="keyWords != null">
            keyWords = #{keyWords,jdbcType=VARCHAR},
             </if> 
                    <if test="content != null">
            content = #{content,jdbcType=VARCHAR},
             </if> 
                    <if test="hits != null">
            hits = #{hits,jdbcType=INTEGER},
             </if> 
                    <if test="parentId != null">
            parentId = #{parentId,jdbcType=INTEGER},
             </if> 
             		<if test="replyArticleBaseId != null">
            replyArticleBaseId = #{replyArticleBaseId,jdbcType=INTEGER},
             </if> 
                    <if test="articleProperty != null">
            articleProperty = #{articleProperty,jdbcType=INTEGER},
             </if> 
                    <if test="articleReceiver != null">
            articleReceiver = #{articleReceiver,jdbcType=INTEGER},
             </if> 
                    <if test="sysClassId != null">
            sysClassId = #{sysClassId,jdbcType=INTEGER},
             </if> 
             		<if test="agentId != null">
            agentId = #{agentId,jdbcType=INTEGER},
             </if> 
             		<if test="schoolId != null">
            schoolId = #{schoolId,jdbcType=INTEGER},
             </if> 
             		<if test="classId != null">
            classId = #{classId,jdbcType=INTEGER},
             </if> 
             		<if test="teacherId != null">
            teacherId = #{teacherId,jdbcType=INTEGER},
             </if> 
             
             <if test="location != null">
            location = #{location,jdbcType=VARCHAR},
             </if> 
             <if test="lng != null">
            lng = #{lng,jdbcType=VARCHAR},
             </if> 
             <if test="lat != null">
            lat = #{lat,jdbcType=VARCHAR},
             </if> 
                    <if test="id != null">
            id = #{id,jdbcType=INTEGER},
             </if> 
                    <if test="uuid != null">
            uuid = #{uuid,jdbcType=VARCHAR},
             </if> 
                    <if test="userId != null">
            userId = #{userId,jdbcType=INTEGER},
             </if> 
                    <if test="userName != null">
            userName = #{userName,jdbcType=VARCHAR},
             </if> 
                    <if test="sortId != null">
            sortId = #{sortId,jdbcType=INTEGER},
             </if> 
                    <if test="isDeleted != null">
            isDeleted = #{isDeleted,jdbcType=TINYINT},
             </if> 
                    <if test="operaterId != null">
            operaterId = #{operaterId,jdbcType=INTEGER},
             </if> 
                    <if test="editedTime != null">
            editedTime = #{editedTime,jdbcType=VARCHAR},
             </if> 
                    <if test="createdTime != null">
            createdTime = #{createdTime,jdbcType=VARCHAR},
             </if> 
                </set>
    WHERE id 
    <if test="id != null">
        = #{id,jdbcType=INTEGER}
    </if>
    </update>

    <select id="get" resultMap="queryResultMap" parameterType="com.ryt.web.entity.article.ArticleBase">
		SELECT t.*
		FROM articleBase t
		WHERE id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="del" parameterType="com.ryt.web.entity.article.ArticleBase">
		update articleBase set isDeleted = 1  
		WHERE id = 
        <if test="id != null">
        #{id,jdbcType=INTEGER}
        </if>
	</delete>
	
	<select id="getArticlesByParents" resultMap="queryResultMap" parameterType="java.lang.Integer">
		SELECT a.* 
		FROM articleBase a,user u 
		WHERE a.isDeleted=0
		<if test="schoolId != null">
		and a.schoolId = #{schoolId,jdbcType=INTEGER} 
		</if>
		<if test="classId != null">
		and a.classId = #{classId,jdbcType=INTEGER} 
		</if> 
		<if test="sysClassId != null">
		and a.sysClassId = #{sysClassId,jdbcType=INTEGER} 
		</if>
		<if test="roleId != null">
		and u.roleProperty = #{roleId,jdbcType=INTEGER}
		</if>
		and a.userId = u.Id
		<if test="firstResult != null">
		LIMIT
        #{firstResult,jdbcType=INTEGER},20
        </if>
	</select>
	
	<select id="getLastForumArticle" resultMap="queryResultMap" parameterType="java.lang.Integer">
	select * from articleBase a join 
		(
			select t.id as typeId from sysClass t where t.sysClassTypeId=#{sysClassTypeId,jdbcType=INTEGER} and t.isDeleted =0
		) b on a.sysClassId =b.typeId where a.isDeleted = 0 order by a.createdTime desc limit 5
	</select>
	
	<select id="getLastCommentForumArticle" resultMap="queryResultMap" parameterType="java.lang.Integer">
		select * from articleBase a 
		where a.isDeleted = 0 and a.replyArticleBaseId >= 0 and a.sysClassId = 0 order by a.id desc limit 5
	</select>
	
		
	<!-- 通过文章id分页查找直接上级评论 -->
	<select id="findCommentsByPages" resultMap="queryResultMap" parameterType="java.lang.Integer">
		SELECT t.*
		FROM articleBase t
		WHERE t.parentId = #{parentId,jdbcType=INTEGER} and t.isDeleted = 0 order by t.id desc
		LIMIT #{firstResult,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
	
	<select id="getAllForumCommentNums" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		SELECT count(*) 
		FROM articleComment t 
		WHERE EXISTS (SELECT a.id from articleBase a where a.parentId =#{parentId,jdbcType=INTEGER} and t.articleBaseId = a.id)
	</select>
</mapper>