<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryt.web.dao.sc.ScStudentDao">
	<resultMap id="queryResultMap" type="com.ryt.web.entity.sc.ScStudent">
		<result column="studentId" property="studentId" jdbcType="INTEGER" />
		<result column="classId" property="classId" jdbcType="INTEGER" />
		<result column="teacherId" property="teacherId" jdbcType="INTEGER" />
		<result column="studentCode" property="studentCode" jdbcType="VARCHAR" />
		<result column="schoolId" property="schoolId" jdbcType="INTEGER" />
		<result column="grade" property="grade" jdbcType="INTEGER" />
		<result column="studentStatusId" property="studentStatusId"
			jdbcType="INTEGER" />
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="CHAR" />
		<result column="userId" property="userId" jdbcType="INTEGER" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="sortId" property="sortId" jdbcType="INTEGER" />
		<result column="isDeleted" property="isDeleted" jdbcType="TINYINT" />
		<result column="operaterId" property="operaterId" jdbcType="INTEGER" />
		<result column="editedTime" property="editedTime" jdbcType="VARCHAR" />
		<result column="createdTime" property="createdTime" jdbcType="VARCHAR" />
	</resultMap>

	<select id="find" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultMap="queryResultMap">
		SELECT t.*
		FROM scStudent t
		<include refid="expressionBlock.where" />
		<choose>
			<when test="sortname == null">
				ORDER BY t.createdTime desc
			</when>
			<otherwise>
				ORDER BY ${order}
			</otherwise>
		</choose>
		<if test="!isQueryAll">
			LIMIT
			#{firstResult,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
	</select>


	<select id="findTotalCount" parameterType="org.durcframework.core.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(*) FROM scStudent t
		<include refid="expressionBlock.where" />
	</select>

	<insert id="save" parameterType="com.ryt.web.entity.sc.ScStudent"
		keyProperty="id" keyColumn="id" useGeneratedKeys="true">
		INSERT INTO scStudent
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="studentId != null">
				`studentId`,
			</if>
			<if test="classId != null">
				`classId`,
			</if>
			<if test="teacherId != null">
				`teacherId`,
			</if>
			<if test="studentCode != null">
				`studentCode`,
			</if>
			<if test="schoolId != null">
				`schoolId`,
			</if>
			<if test="grade != null">
				`grade`,
			</if>
			<if test="studentStatusId != null">
				`studentStatusId`,
			</if>
			<if test="id != null">
				`id`,
			</if>
			<if test="uuid != null">
				`uuid`,
			</if>
			<if test="userId != null">
				`userId`,
			</if>
			<if test="userName != null">
				`userName`,
			</if>
			<if test="sortId != null">
				`sortId`,
			</if>
			<if test="isDeleted != null">
				`isDeleted`,
			</if>
			<if test="operaterId != null">
				`operaterId`,
			</if>
			<if test="editedTime != null">
				`editedTime`,
			</if>
			<if test="createdTime != null">
				`createdTime`,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="studentId != null">
				#{studentId,jdbcType=INTEGER},
			</if>
			<if test="classId != null">
				#{classId,jdbcType=INTEGER},
			</if>
			<if test="teacherId != null">
				#{teacherId,jdbcType=INTEGER},
			</if>
			<if test="studentCode != null">
				#{studentCode,jdbcType=VARCHAR},
			</if>
			<if test="schoolId != null">
				#{schoolId,jdbcType=INTEGER},
			</if>
			<if test="grade != null">
				#{grade,jdbcType=INTEGER},
			</if>
			<if test="studentStatusId != null">
				#{studentStatusId,jdbcType=INTEGER},
			</if>
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uuid != null">
				#{uuid,jdbcType=CHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="sortId != null">
				#{sortId,jdbcType=INTEGER},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=TINYINT},
			</if>
			<if test="operaterId != null">
				#{operaterId,jdbcType=INTEGER},
			</if>
			<if test="editedTime != null">
				#{editedTime,jdbcType=VARCHAR},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.ryt.web.entity.sc.ScStudent">
		UPDATE scStudent
		<set>
			<if test="studentId != null">
				studentId = #{studentId,jdbcType=INTEGER},
			</if>
			<if test="classId != null">
				classId = #{classId,jdbcType=INTEGER},
			</if>
			<if test="teacherId != null">
				teacherId = #{teacherId,jdbcType=INTEGER},
			</if>
			<if test="studentCode != null">
				studentCode = #{studentCode,jdbcType=VARCHAR},
			</if>
			<if test="schoolId != null">
				schoolId = #{schoolId,jdbcType=INTEGER},
			</if>
			<if test="grade != null">
				grade = #{grade,jdbcType=INTEGER},
			</if>
			<if test="studentStatusId != null">
				studentStatusId = #{studentStatusId,jdbcType=INTEGER},
			</if>
			<if test="id != null">
				id = #{id,jdbcType=INTEGER},
			</if>
			<if test="uuid != null">
				uuid = #{uuid,jdbcType=CHAR},
			</if>
			<if test="userId != null">
				userId = #{userId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				userName = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="sortId != null">
				sortId = #{sortId,jdbcType=INTEGER},
			</if>
			<if test="isDeleted != null">
				isDeleted = #{isDeleted,jdbcType=TINYINT},
			</if>
			<if test="operaterId != null">
				operaterId = #{operaterId,jdbcType=INTEGER},
			</if>
			<if test="editedTime != null">
				editedTime = #{editedTime,jdbcType=VARCHAR},
			</if>
			<if test="createdTime != null">
				createdTime = #{createdTime,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE id
		<if test="id != null">
			= #{id,jdbcType=INTEGER}
		</if>
	</update>

	<select id="get" resultMap="queryResultMap" parameterType="com.ryt.web.entity.sc.ScStudent">
		SELECT t.*
		FROM scStudent t
		WHERE id = #{id,jdbcType=INTEGER}
	</select>

	<delete id="del" parameterType="com.ryt.web.entity.sc.ScStudent">
		UPDATE scStudent set isDeleted = 1
		WHERE  id =
		<if test="id != null">
			#{id,jdbcType=INTEGER}
		</if>
	</delete>

	<update id="updateStudentTeacherId" parameterType="com.ryt.web.entity.sc.ScStudent">
		UPDATE scStudent
		<set>
			<if test="teacherId != null">
				teacherId = #{teacherId,jdbcType=INTEGER},
			</if>
		</set>
		WHERE classId
		<if test="classId != null">
			= #{classId,jdbcType=INTEGER}
		</if>
	</update>

	<select id="getSctudentByUserId" resultMap="queryResultMap" parameterType="com.ryt.web.entity.sc.ScStudent">
		SELECT t.*
		FROM scStudent t
		WHERE t.studentId = #{userId,jdbcType=INTEGER}
	</select>
	
	<select id="getStudentsByAgentId" resultMap="queryResultMap" parameterType="java.lang.String">
		SELECT t.*
		FROM scStudent t,scSchool s
		WHERE t.schoolId = s.schoolId
		And t.isDeleted = 0
		<if test="agentId != 0">
		And s.agentId = #{agentId,jdbcType=INTEGER}
		</if> 
		<if test="schoolId != 0">
		and t.schoolId = #{schoolId,jdbcType=INTEGER}
		</if>
		<if test="classId != 0">
		and t.classId = #{classId,jdbcType=INTEGER} 
		</if>
		<if test="studentCode != null and studentCode != ''">
		and t.studentCode =#{studentCode,jdbcType=VARCHAR}
		</if>
		<if test="beginDate != null and beginDate != ''">
		and t.createdTime >= #{beginDate,jdbcType=VARCHAR}
		</if>
		<if test="endDate != null and endDate != ''">
		and  <![CDATA[ t.createdTime <= #{endDate,jdbcType=VARCHAR} ]]> 
		</if>
	</select>
	
</mapper>